Package: gomyadm
Version: 1.1.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Evandro A. Domingues <evandro.domingues@hotmail.com>
Description: Aplicativo gerenciador de banco de dados com interface gráfica.
