Package: gomyadm
Version: 1.5.0-7-g565dc1a
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Evandro A. Domingues <evandro.domingues@hotmail.com>
Description: Aplicativo gerenciador de banco de dados com interface gráfica.
