Package: gomyadm
Version: 1.3.0-1-g87f100f
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Evandro A. Domingues <evandro.domingues@hotmail.com>
Description: Aplicativo gerenciador de banco de dados com interface gráfica.
